.private/

.github/workflows/

.env
.env.local
.env.production
.env.staging

config.js
config.json

dist/
build/
.output/

!.nojekyll

node_modules/
.pnpm-store/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov

.nyc_output

jspm_packages/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env.test

.cache
.parcel-cache

.next

.nuxt
dist

.cache/
public

.out
.storybook-out

tmp/
temp/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db